
<div id="sp-page">
<div class="topcoat-navigation-bar">
	
	<div class="topcoat-navigation-bar__item left quarter" style="margin-top:10px">
		<a class="topcoat-icon-button--quiet" href="" ng-click="$spMenu.toggle()">
			<span class="topcoat-icon topcoat-icon--menu-stack"></span>
		</a>
	</div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">List Data</h1>
    </div>
</div>
    <a href="#/add">+ Add data</a>
	<br>
<div ng-controller="ListCtrl"><br>
   
 <table ng-table="vm.tableParams" class="table" show-filter="true">
 <tr>
 <th>Name</th>
 <th>Age</th>
 <th>Address</th>
 </tr>
    <tr ng-repeat="theItem in campaign.list">
        <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
            {{theItem.nama}}</td>
        <td title="'Age'" filter="{ age: 'number'}" sortable="'age'">
            {{theItem.umur}}</td>
		<td title="'Age'" filter="{ alamat: 'number'}" sortable="'alamat'">
            {{theItem.alamat}}</td>
    </tr>
</table>
</div>
</div>